@font-face {
  font-family: JackPirate;
  src: url("@/assets/fonts/jack-pirate.ttf");
}

#app {
  max-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
}

body {
  display: flex;
  place-items: center;
  background-color: black;
  color: ghostwhite;
  margin: 0;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */       
}

.fade-in {
  animation: fade-in 1.1s linear;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 1.1s linear;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
