#app {
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
  overflow: hidden;
}

body {
  display: flex;
  place-items: center;
  background-color: black;
  color: ghostwhite;
  margin: 0;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */       
} 
